.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color-black, 0.8);
  z-index: 10;
  overflow: hidden;
  will-change: opacity;
  // cursor: pointer;
}
.hidden-scroll {
  overflow: hidden;
}
.hidden-overlay {
  opacity: 0;
  visibility: hidden;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin-reversion {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes hidden-scroll-top {
  0% {
    transform: translateY(-15px);
    opacity: 0.8;
  }
  30% {
    transform: translateY(-10%);
    opacity: 0.5;
  }
  70% {
    transform: translateY(-15%);
    opacity: 0.4;
  }
  100% {
    transform: translateY(-30%);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes visibility-scroll-top {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  30% {
    transform: translateY(15%);
    opacity: 0.4;
  }
  70% {
    transform: translateY(-10%);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
