*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  // @include respond(phones-sm) {

  // }

  @include respond(laptops) {
    max-width: 1185px;
  }

  @include respond(tablets) {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@include respond(tablets) {
  .hidden-sm {
    display: none !important;
  }
  .profile-box {
    order: 2;
  }
  .profile-content {
    order: 3;
  }
  .nav-wrap {
    order: 1;
  }
  .content-sm {
    flex-direction: column;
  }
}
@include respond(phones) {
  .hidden-xs {
    display: none !important;
  }
}
